table.harpy {
    width: 95%;
    border-collapse: collapse;
}
table.harpy div {
    float: left;
    height: 20px;
}
table.harpy div.loadMarker {
    border-left: 1px dashed #F63;
    border-right: 1px dashed #5cb85c;
    position: absolute;
    margin-top: 10px;
}
table.harpy tr.total {
    background: #EEE;
    font-weight: bold;
}
table.harpy tr.html {
    background: #FFE;
}
table.harpy tr.css {
    background: #EEF;
}
table.harpy tr.js {
    background: #FEF;
}
table.harpy tr.text {
    background: #FEE;
}
table.harpy tr.cache {
    color: #999;
}
table.harpy th {
    width: 20px;
}
table.harpy th.timeline{
    width: auto;
    padding: 5px;
}
table.harpy th.header {
    background:  url("../images/bg.gif") no-repeat center right;
    cursor: pointer;
    font-weight: bold;
    padding-right: 18px;
}
table.harpy th.headerSortUp {
    background-image: url("../images/asc.gif");
}
table.harpy th.headerSortDown {
    background-image: url("../images/desc.gif");
}
table.harpy td:nth-child(even) {
    background: #EEE;
}
table.harpy td {
    white-space: nowrap;
    border-bottom: 1px solid #CCC;
    padding: 1px 5px;
}
table.harpy td.url {
    width: 100px;
}
table.harpy tr.total span {
    float: right;
}
table.harpy div.blocked {
    background: #d9534f;
}
table.harpy div.dns {
    background : #F63;
}
table.harpy div.connect {
    background: #F96;
}
table.harpy div.send {
    background: #9C9;
}
table.harpy div.wait {
    background: #FC6;
}
table.harpy div.receive {
    background: #5cb85c;
    margin-right: 5px;
}
div.harpyChart {
    width: 24%;
    float: left;
    height: 220px;
}