table.harpy {
    width: 100%;
    border-collapse: collapse;
}
table.harpy div {
    float: left;
    height: 20px;
}
table.harpy th {
    width: 20px;
}
table.harpy td:nth-child(even) {
    background: #EEE;
}
table.harpy td {
    white-space: nowrap;
    border-bottom: 1px solid #CCC;
    padding: 1px 5px;
}
table.harpy td.url {
    width: 100px;
}
table.harpy th.timeline{
    width: auto;
}
table.harpy td.total {
    text-align: right;
    font-weight: bold;
}
table.harpy div.blocked {
    background: #d9534f;
}
table.harpy div.dns {
    background : #F63 !important;
}
table.harpy div.connect {
    background: #F96;
}
table.harpy div.send {
    background: #FC6;
}
table.harpy div.wait {
    background: #9C9;
}
table.harpy div.receive {
    background: #5cb85c;
    margin-right: 5px;
}