table.harpy {
    width: 95%;
    border-collapse: collapse;
}
table.harpy div {
    float: left;
    height: 20px;
}
table.harpy div.loadMarker {
    border-left: 1px dashed #F63;
    border-right: 1px dashed #5cb85c;
    position: absolute;
    margin-top: 10px;
}
table.harpy tr.total, table.harpy>thead>tr {
    background: #EEE;
    font-weight: bold;
}
table.harpy tr.html {
    background: #FFE;
}
table.harpy tr.css {
    background: #EEF;
}
table.harpy tr.js {
    background: #FEF;
}
table.harpy tr.text {
    background: #FEE;
}
table.harpy tr.external {
    color: #3276b1;
}
table.harpy tr.cache {
    color: #999;
}
table.harpy th {
    width: 1px;
}
table.harpy th.timeline{
    width: auto;
    padding: 5px;
}
table.harpy th.header {
    background:  url("../images/bg.gif") no-repeat center right;
    cursor: pointer;
    font-weight: bold;
    padding-right: 18px;
}
table.harpy th.headerSortUp {
    background-image: url("../images/asc.gif");
}
table.harpy th.headerSortDown {
    background-image: url("../images/desc.gif");
}
table.harpy td {
    white-space: nowrap;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #EEE;
    padding: 1px 5px;
}
table.harpy td.url {
    width: 100px;
}
table.harpy tr.total span {
    float: right;
}
table.harpy .blocked {
    background: #d9534f;
}
table.harpy .dns {
    background : #F63;
}
table.harpy .connect {
    background: #F96;
}
table.harpy .send {
    background: #9C9;
}
table.harpy .wait {
    background: #FC6;
}
table.harpy .receive {
    background: #5cb85c;
    margin-right: 5px;
}
table.harpy td.info {
    padding: 15px 10px;
    background: #FFE;
    position: relative;
}
table.harpy td.info table {
    margin-top: 10px;
    width: 100%;
}
table.harpy td.info td:first-child {
    font-weight: bold;
    background: #EEE;
    width: 200px;
}
table.harpy td.info td:nth-child(2) {
    white-space: normal;
}
table.harpy td.info div {
    overflow: hidden;
}
table.harpy td.info dl {
    clear: both;
    overflow: hidden;
}
table.harpy td.info dt, table.harpy td.info dd {
    display: inline-block;
    float: left;
    padding: 1px 5px;
    margin: 0;
}
table.harpy td.info dt {
    background: #EEE;
    font-weight: bold;
}
div.harpyChart {
    width: 24%;
    float: left;
    height: 260px;
    overflow: hidden;
}
div.harpyBarChart {
    width: 32%;
}